.christmasTrain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.christmasTrain h2{
    color:var(--primary-red-color);
}

.trainSection{
    text-align: center;
    margin: 16px 24px;
    font-weight: 550;
    max-width: 500px;
}

.trainSection h3{
    font-size: 1.1rem;
    color: var(--primary-red-color);
}

.link{
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 800;
    margin: 24px 0;
    color: var(--primary-red-color);

}

.link:hover{
    text-decoration: underline;
}